.container {
    text-align: center;
    color: #3b4cca;
    padding: 10px;
}

input{
    margin: 10px;
    background-color: (255, 222, 0, 0.2);
    color: #3b4cca;
    font-weight: bold;
    font-size: 20px;
    border: 2px solid #3b4cca;
    padding: 10px;
}

