<div class="container">
    <h2>Register your trainer name:</h2>
    <form (ngSubmit)="onSubmit()">
        <input type="text" 
        [(ngModel)]=trainerName
        name="trainer-name" 
        id="trainer-name" 
        minlength="1"> <br>
        <button [disabled]="!trainerName">Submit</button>
    </form>
</div>
