.header {
    background-color: rgba(255, 222, 0, 0.4);
    color: #3b4cca;
    height: 100px;
    width: 100%;
    text-align: center;
    padding-top: 20px;
}

.header h1 {
    text-transform: uppercase;
    letter-spacing: 0.8rem;
}


