.container {
    margin: 50px;
}


section {
    background-color: rgba(255, 222, 0, 0.4);
    color: #3b4cca;
    align-items: center;
    text-align: center;
    border-radius: 5%;
    margin: 10px;
    padding-top: 10px;
    box-shadow: 10px 10px 5px slategrey;
}


ul {
    list-style: none;
    padding: 5px;
    margin: 0;
}