<div class="container" *ngIf="pokemon != null">
    <button 
        *ngIf="trainer && !hasCollected"
        (click)="collectPokemon()">
        Collect this pokemon</button>
    <section id="base-stats">
        <h1>Basestats</h1>
        <div id="image-container">
            <img [src]="pokemon.sprites.front_default" [alt]="pokemon.name">
        </div>
        <h4>Name: {{ pokemon.name.toUpperCase() }}</h4>
        <h4>Types: </h4>
        <ul *ngFor="let t of pokemon.types">
            <li>{{t.type.name}} </li>
        </ul>
        <h4>Base stats: </h4>
        <ul *ngFor="let s of pokemon.stats">
            <li>{{ s.stat.name }} - base stat: {{ s.base_stat}} - effort: {{ s.effort }}</li>
        </ul>
    </section>

    <section id="profile">
        <h1>Profile</h1>
        <h4>Height: {{ pokemon.height }} </h4>
        <h4>Weight: {{ pokemon.weight }} </h4>
        <h4>Abilities:</h4>
        <ul *ngFor="let a of pokemon.abilities">
            <li>{{a.ability.name}} </li>
        </ul>
        <h4>Base experience: {{ pokemon.base_experience }}</h4>
    </section>

    <section id="moves">
        <h1>Moves</h1>
        <ul *ngFor="let m of pokemon.moves">
            <li>{{m.move.name}} </li>
        </ul>
    </section>
</div>