.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
    color: #3b4cca;
    min-width: 200px;
    max-width: 300px;
    background-color:  rgba(255, 222, 0, 0.4);
    margin: 20px;
    box-shadow: 10px 10px 5px slategray;
}

.container h3 {
    text-transform: capitalize;
}

.image-container {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 5px;
}