/* You can add global styles to this file, and also import other style files */
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color:#3B4CCA;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    padding: 10px;
    margin: 10px 0;
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgba(255, 222, 0, 0.4);
    color: #3B4CCA;
    border: 1px solid black;
    box-shadow: 3px 3px 2px slategrey;
}