<div class="container">
    <button (click)="onClick()">To Pokemon Catalogue</button>
    <h1>Your pokemons:</h1>
    <app-pokemon-list [pokemons]="pokemons"></app-pokemon-list>
    <h4 *ngIf="!pokemons">You have no pokemons</h4>
</div>